customtkinter~=5.2.0
nuitka~=1.8.3
spotipy~=2.23.0
twitchio~=2.7.0
rich~=13.5.2
pydantic~=2.3.0
requests~=2.32.2
twitchAPI~=2.5.7.1
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability