customtkinter~=5.2.0
nuitka~=1.8.3
spotipy~=2.23.0
twitchio~=2.7.0
rich~=13.5.2
pydantic~=2.3.0
requests~=2.31.0
twitchAPI~=2.5.7.1
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability